*{
    font-family: "TT Hoves";
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

section{
    padding: 0 calc(11vw - 22px);
    margin-bottom: 160px;
}

section:nth-child(1) img{
    margin-top: 37px;
    width: calc(8.8vw + 182px);
}

.kursinfo{
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 161px;
}

section:nth-child(1) h1{
    margin-top: 76px;
    font-family: "Chava";
    font-size: 80px;
    width: calc(49.1vw + 149px);
}

section:nth-child(1) p{
    margin-top: 40px;
    font-size: 27px;
    line-height: 140%;
}

.baton{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.defoltbut{
    display: flex;
    flex-basis: 328px;
    padding: 20px 0px;
    background-color: #6E3ABA;
    border-radius: 12px;
    justify-content: center;
}

.baton div:first-child a{
    color: white;
}

.defoltbuttwo{
    display: flex;
    flex-basis: 328px;
    padding: 20px 0px;
    border: 1px solid #6E3ABA;
    border-radius: 12px;
    justify-content: center;
    background-color: white;
    
}

/* 1 страница закончена */

.memoji{
    flex-basis: 450px;
    width: calc(13.7vw + 274px);
}

.emoji{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 80px;
}

.memoji img{
    width: calc(2.6vw + 220px);
}

.memoji p{
    font-size: 27px;
    line-height: 140%;
}

.memoji h3{
    font-size: 27px;
}

/* 2 СТРАНИЦА ЗАКОНЧЕНА */

section:nth-child(3){
    height: 623px;
    background-color: #6E3ABA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(3) h3{
    font-size: 52px;
    margin-top: 70px;
    color: white;
}

.timer{
    display: flex;
    font-size: 174px;
    margin-top: 37px;
    gap: calc(5.3vw + 12px);
}

.timer div{
    font-family: "Chava";
}

.defoltbutthree{
    margin-top: 50px;
    display: flex;
    width: 328px;
    padding: 20px 0px;
    background-color: white;
    border-radius: 12px;
    justify-content: center;
}